/* ===========================================================
    GENERAL STYLES
 * =========================================================== */

body {
/*
    margin-left:240px;
*/
    padding: 0px;
    font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  /* Better Helvetica */
}

html, body, #outerDiv  {
    height: 100%;
    width: 100%;
    min-height: 700px;
}

/* ===========================================================
    NETWORK VIEWER-SPECIFIC STYLES
 * =========================================================== */

input, select, button {
    max-width: 171px;
    margin:2px;
    margin-top:4px;
}

input#score_slider {
    width: 171px;
}

.sliderbar {
    width:200px; 
    background-color:#fff;
    -webkit-box-shadow: inset 1px 1px 1px 1px #999;
    box-shadow: inset 1px 1px 1px 1px #999; 
    height:15px;
    position: relative;
    top: 5px;
    display:inline-block;
}

#networkContainer {
    position: fixed;
    display: block;
    top: 60px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    clear: both;
    overflow: hidden;
}

.controls {
    position: fixed;
    top: 0px;
/*
    left: 250px;
    right: 20px;
*/
    text-align: left;
    height: 60px;
    z-index: 999999999999999;
}

.help {
    margin-left: 10px;
    margin-right: 10px;
}

.exportsvg {
    margin-left: 10px;
    margin-right: 10px;
}

.autolayout {   
    margin-left: 10px;
    margin-right: 10px;
}

.resetzoom {
    margin-left: 10px;
    margin-right: 10px;
}

#track1 {
    width:200px;
    background-color:#fff;
    -webkit-box-shadow: inset 1px 1px 1px 1px #999;
    box-shadow: inset 1px 1px 1px 1px #999;
    height:15px;
    display:inline-block;
}

#handle1 {
    width: 30px;
    height: 14px; 
    border: solid #000 1px; 
    background-color: #777; 
    cursor: move; 
    left: 0px; 
    position: relative; 
}

.controlGroup {
    position:relative;
    display: block;
    left: 930px;
    color: #7F8C8D;
    top: -40px;
    background-color: #ECF0F1;
    border: 1px solid #2C3E50;
    padding: 10px;
    width: 90px;
}

.outlined {
    position: relative;
    background-color: #ECF0F1;
    border: 1px solid #2C3E50;
    padding: 5px;
    width: 420px;
    color: #7F8C8D;
    left: 480px;
    top: -80px;
}

#debug1 {
    display:inline-block;
    width:140px;
}
.scoreLabel {
    display:inline-block;
    color: #34495e;
}
		
		
/* ===========================================================
    OVERLAY STYLES
 * =========================================================== */

.overlay-box {
/*background-color: #BDC3C7;
    background: transparent;
*/
    background: rgba(189, 195, 199, 0.95);
    position: relative;
/*
    height: 100%;
*/
    width: 560px;
    top: 100%;
    left: -10px;
/*
    color: #fff;
*/
    z-index: 9999999999999999999;
    padding: 20px;
    margin-top: 60px;
    line-height: 2;
    text-align: left;
    display: none;
    
    border-radius: 0px 20px 20px 0px;
}

.overlay-box-bg {
    background: #2C3E50;
    opacity: 0.9;
    position: fixed;
    height: 100%;
    width: 500px;
    margin-top: 60px;
    top: 50%;
    left: 231px;
    color: #fff;
}

.overlay-box a:hover {
    color: #fff;
    background-color: #16A085;
    padding: 2px 0px 2px 0px;
}

.overlay-box h6 {
    font-weight: 700;
    text-decoration: underline;
}


.overlay-box table {
	font-size: 14px;
	left: auto;
	right: auto;
	top: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 460px;
	border-collapse: collapse;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

.overlay-box th {
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
    border: 0px;
}

.overlay-box thead td {
    color: #34495E;
}

.overlay-box td {
	color: #777;
	padding: 9px 8px 0px 8px;
	border: 0px solid #eee;
}

.overlay-box  tbody tr:hover td {color: #009;background-color:#ECF0F1;-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
		transition: all 200ms ease;}

