/*
body {
    margin:0px;
    padding: 0px;
}

html, body, #outerDiv  {
    height: 100%;
    font-family: "Helvetica", Arial, serif;
}
*/

#topDiv {
    height: 100%;
}

div#networkContainer{
    clear: both;
    border: 1px solid black;
    position:absolute;
    bottom:0px;
    top:0px;
    width:75%;
    overflow: hidden;
    margin: 8px;
    margin-right:25%;
 }

div#controls{
    position:absolute;
    bottom: 0px;
    margin: 16px;
}

div#networkCaption{
    /*clear: both;*/
    /*border: 1px solid black;*/
    /*top:95%;*/
    overflow: auto;
    position:absolute;
    margin: 0px;
    margin-left:77%;
    line-height: 1;
    top:0px;
    max-height:100%;
    width:23%;
    max-width:33%;
}

h2{
    text-decoration: underline;
}
