/* ===========================================================
    GENERAL STYLES
 * =========================================================== */

body {
    padding: 0px;
    font-family: "Lato", sans-serif;  /* Better Helvetica */
}

html, body, #outerDiv  {
    height: 100%;
    width: 100%;
}

/* ===========================================================
    NETWORK VIEWER-SPECIFIC STYLES
 * =========================================================== */

input, select, button {
 margin:4px;
}

.sliderbar {
    width:200px; 
    background-color:#fff;
    -webkit-box-shadow: inset 1px 1px 1px 1px #999;
    box-shadow: inset 1px 1px 1px 1px #999; 
    height:15px;
    position: relative;
    display:inline-block;
}

#networkContainer {
    position: fixed;
    display: block;
    top: 60px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    clear: both;
    overflow: hidden;
}

#infoButton {
	float:right;
	color: #091D42;
	background: #fff;
	width: 120px;
	position: fixed;
	z-index: 20;
    margin-top: 0px;
	right:10px;
	border: 1px solid black;
}

#infoButton:hover {
    background: #ddd;
}

.controls {
    position: relative;
    top: 0px;
    text-align: center;
    height: 60px;
    z-index: 20;
    background-color:#fff;
    margin:0px;
    padding:0px;
    vertical-align:top;
}

#track1 {
    width:200px;
    background-color:#fff;
    -webkit-box-shadow: inset 1px 1px 1px 1px #999;
    box-shadow: inset 1px 1px 1px 1px #999;
    height:15px;
    display:inline-block;
}

#handle1 {
    width: 30px;
    height: 14px; 
    border: solid #000 1px; 
    background-color: #777; 
    cursor: move; 
    left: 0px; 
    position: relative; 
}

.controlGroup p{
	margin-bottom:0px;
	margin-top:10px;
	margin-left:9px;
	margin-right:9px;
}
.controlGroup{
    display: inline-block;
    color: #7F8C8D;
    background-color: #ECF0F1;
    border: 1px solid #2C3E50;
    margin:4px;
    height:39px;
    vertical-align:top;
}

#scoreSlider{
/*
    width: 480px;
*/
}

#cutoffLabel {
	visibility:hidden;
    display:none;/*inline-block;
/*
    width:140px;
*/
}

.scoreLabel {
    display:inline-block;
    color: #091D42;
}

.info{
   background: rgba(189, 195, 199, 0.95);
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 0px;
    clear: both;
    height:60px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 8px;
    z-index: 15;
 }	
		
/* ===========================================================
    OVERLAY STYLES
 * =========================================================== */

.overlay {
    background: rgba(189, 195, 199, 0.95);
    position: fixed;
    width: 500px;
    top: 100%;
    left: -10px;
    border: none;
    z-index: 10;
    padding: 20px;
    margin-top: 60px;
    line-height: 2;
    text-align: left;
    display: none;
}

.overlay-box a:hover {
    color: #fff;
    background-color: #9AB4CB;
    padding: 2px 0px 2px 0px;
}

.overlay-box h6 {
    font-weight: 700;
    text-decoration: underline;
}


.overlay-box table {
	font-size: 14px;
	left: auto;
	right: auto;
	top: 10px;
	position: relative;
	width: 100%;
	border-collapse: collapse;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

.overlay-box th {
	font-size: 1.2em;
	font-weight: 700;
	color: #091D4A;
	padding: 10px 8px;
    border: 0px;
}

.overlay-box thead td {
    color: #091D42;
}

.overlay-box td {
	color: #777;
	padding: 9px 8px 0px 8px;
	border: 0px solid #eee;
}
.overlay-box p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.overlay-box tbody tr:hover td {
	color: #fff;
	background-color: #091D42;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#networkContainer {
    	-webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    	-webkit-perspective: 1000;
}
.overlay-box {
    color: #fff;
    background: rgba(9, 29, 66, 0.9);
    border-top: 20px solid rgba(9, 29, 66, 0.9);
}
