
/*
body {
    min-width: 1200px;

}*/
/*
.page-header {
	height:77px;

}*/
.container {
/*
    width: 1200px;
	padding: 36px;
*/
	
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
/*
.container.small {
    width: 900px;
}
.container.big {
    width: 100%;
    max-width: 1500px;
    min-width: 1200px;
}
*/

#infoPanel{
	position: fixed;
	left: 300px;
	right: 0px;
	bottom: -95px;
	height: 0px;
	overflow: auto;
}

#helpPanel{
	position: fixed;
/*
	left: 300px;
*/
	right: 0px;
	top:-95px;
	height: 0px;
	z-index: 1;
	width: 450px;
	overflow: hidden;
}


#legendPanel{
	position: fixed;
	left: 300px;
	top:-95px;
	height: 0px;
	z-index: 1;
/*
	width: 450px;
*/
	overflow: hidden;
}

.menu{
	position: fixed;
	top: 10px;
	right: 15px;
	z-index: 999;
	background-color: #091D42;
	display: none;
}


