
/* NARROW */

/*
@media only screen and (min-width : 961px) and (max-width : 1320px) {
    body, input, select, textarea {
        font-size: 16pt;
    }
    .container {
        padding: 0 2em;
    }
    ul.icons li a {
        width: 1.75em;
    }
    .item {
        margin-bottom: 20px;
    }
    #header {
        width: 300px;}
    #logo .image {
        position: relative;
        margin: 0 0 .5em;
    }
    .annotation-csv-file, .cross-link-csv, .fasta-file {
        position: relative;
        width: 200px;
    }
    #nav ul li a {
        font-size: .8em;
        padding-top: .5em;
        padding-bottom: .5em;
    }
    #nav ul li a span {
        padding-right: 2.25em;
    }
    #nav ul li a span:before {
        left: 100%;
        margin-left: -1.25em;
        line-height: 2.25em;
    }
    #footer, #main {
        margin-left: 20%
    }
    
    .controlsexamplespage {
        top: 130px;
    }
    
    #networkFrontPage {
        position: fixed;
        z-index: 1;
        bottom: 0px;
        right: 0px;
        top: 300px;
        left: 300px;
        margin-bottom: 0;
        overflow: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    	-webkit-perspective: 1000;
    }
    #networkContainer {
        position: fixed;
        z-index: 1;
        margin-bottom: 0;
        overflow: hidden;
        bottom: 0px;
        right: 0px;
        top: 230px;
        left: 300px;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    	-webkit-perspective: 1000;
    }
    .long-citation {
        left:300px;
    }
    .overlay-box {
        left: 300px;
    }
    .examples.box {
        width: 260px!important;
    }
}
*/

@media only screen and (max-height : 700px) {
	nav {
		top: 30px;
	}
}
/* NARROWER */


@media only screen and (max-width : 1140px) {
#header{
	display: none;
}

.menu{
	display: block;
	width: 50px;
	height: 50px;
	background:url('../images/menu/white-blue.png') center top no-repeat;
}
.menu:hover {
   background-image: url('../images/menu/blue-white.png');
}

#main{
	margin-left: 0px;
}

#infoPanel{
	left: 0px;
}
#legendPanel{
	left: 0px;
}
.controlsexamplespage{
	left: 0px;
}
#networkContainer{
	left: 0px;
}
.controlsFrontPage{
	left: 0px;
}
#networkFrontPage{
	left: 0px;
}

/*
.container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
*/

 /*   body, input, select, textarea {
        font-size: 16pt;
    }
    h2 br {
        display: none;
    }
    .container {
        padding: 0 2em;
    }
    .item {
        margin-bottom: 15px;
    }
    #header {
        position: relative;
        width: 100%;
        background: none!important;
        box-shadow: none!important;
    }
    #header .top {
        position: relative;
    }
    .controlsFrontPage {
        left: 0px;
    }
    .bottom {display: none}
    .header-bg {background: none;}
    #logo {
        margin: 1.5em 1.25em 1.25em;
    }
    #nav ul li a {
        padding: .5em 1.25em;
    }
    #footer, #main {
        margin-left: 0;
    }
    #sidePanel {
        background: #091D42 url("../images/overlay.png");
        box-shadow: inset -.25em 0 .25em 0 rgba(0, 0, 0, .125);
    }
    #sidePanelToggle .toggle {
        position: fixed;
        left: 0;
        top: 0;
        margin-top: 10px;
        margin-left: 10px;
        height: 60px;
        width: 60px;
        background: #091D42 url("../images/icons/menu.png") center center no-repeat;
        border: 1px solid #eee;
    }
    #sidePanelToggle .toggle:hover {
        background: #396A92 url("../images/icons/menu.png") center center no-repeat;
    }
    .colintext, .juritext, .matttext {
        text-align: center;
        margin-left: 0%;
    }
    .contact {
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    .annotation-csv-file, .cross-link-csv, .fasta-file {
        position: relative;
        width: 200px;
    }
    #networkContainer {
        position: fixed;
        z-index: 1;
        margin-bottom: 0;
        overflow: hidden;
        bottom: 0px;
        right: 0px;
        top: 200px;
        left: 0px;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    	-webkit-perspective: 1000;
    }
     .long-citation {
         left: 0px;
     }
     .controlsexamplespage {
         left: 0px;
         top: 100px;
     }
     .overlay-box {
         left: 0px;
     }
    #networkFrontPage {
        position: fixed;
        z-index: 1;
        bottom: 0px;
        right: 0px;
        top: 275px;
        left: 0px;
        margin-bottom: 0;
        overflow: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    	-webkit-perspective: 1000;
    }*/
}


/* MOBILE */

@media only screen and (max-width : 640px) {

#nav{
	display: none;
}

.menu{
	display: block;
}

#main{
	margin-left: 0px;
}

#infoPanel{
	left: 0px;
}
/*
    body, input, select, textarea {
        font-size: 14pt;
    }
    h2 {
        font-size: 1.5em;
        letter-spacing: 0;
        font-weight: 300;
    }
    .container {
        padding: 0 15px;
    }
    .image.featured {
        position: relative;
        min-height: 10em;
        overflow: hidden;
    }
    .overlay-box {
        height: 40%;
        top: 50% !important;
        z-index: 99!important;
    }
    .image.featured img {
        position: relative;
        height: 10em;
        width: auto;
    }
    .fileupload table tr td {
        width: 200px;
        display:inline;
    }
    #main>section {
        padding: 2em 0;
    }
    .headerbg {
        background-color: #091D42;
    }
    .controlsexamplespage {
        top: 72%;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #networkContainer {
        position: fixed;
        z-index: 1;
        margin-bottom: 0;
        overflow: hidden;
        bottom: 0px;
        right: 0px;
        top: 0px;
        left: 0px;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    	-webkit-perspective: 1000;
    }
    .contactGroup table tr td {
        width: 200px;
        display:inline;
    }
    .page-header {
        position: fixed;
        bottom: 0px;
        z-index: 999;
        margin: 0px;
        left: 0px;
    }
    .external-link {
        margin-top: 100px;
    }
    .controlsFrontPage {
        display: none;
    }
    
     .colin,
     .matt,
     .juri  {
         position: relative;
         left: 30%;
         top: 0px;
    }
    #networkFrontPage {
       display:none;
    }
*/
}
