@charset 'UTF-8';
@import url("font-awesome.min.css");
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/lato/bold/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/bold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/bold/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/bold/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato/bold/Lato-Bold.svg#svgLato-Bold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/lato/regular/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/regular/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/regular/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS  */
       url('../fonts/lato/regular/Lato-Regular.svg#svgLato-Regular') format('svg');  /* Legacy iOS */ 
}
body {
    background: #fff;
}
body, input, select, textarea {
    font-family: "Lato-Regular", sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
    -webkit-text-stroke: .15px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    color: #666;
    line-height: 1.75em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
    font-weight: 300;
}
h2 {
    font-size: 2em;
    letter-spacing: -1px;
}
h2.alt {
    color: #888;
}
h2.alt strong {
    color: #666;
}
h3 {
    font-size: 1.5em;
}
option {
  color: #091D42;
}
header {
    margin: 0 0 2em;
}
footer {
    margin: 2em 0 0;
}
b, strong {
    font-weight: 300;
    color: #666;
}
em, i {
    font-style: italic;
}
#main h1 a, #main h2 a, #main h3 a, #main h4 a, #main h5 a, #main h6 a {
    text-decoration: none;
    color: inherit;
    border-bottom: dotted 1px rgba(128, 128, 128, .5);
    -moz-transition: color 200ms ease-in-out, border-bottom-color .35s ease-in-out;
    -webkit-transition: color 200ms ease-in-out, border-bottom-color .35s ease-in-out;
    -o-transition: color 200ms ease-in-out, border-bottom-color .35s ease-in-out;
    -ms-transition: color 200ms ease-in-out, border-bottom-color .35s ease-in-out;
    transition: color 200ms ease-in-out, border-bottom-color .35s ease-in-out;
    outline: 0;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#main a:hover {
    border-bottom-color: rgba(255, 255, 255, 0);
}
sub {
    position: relative;
    top: .5em;
    font-size: .8em;
}
sup {
    position: relative;
    top: -.5em;
    font-size: .8em;
}
hr {
    border: 0;
    border-top: solid 1px #ddd;
}
blockquote {
    border-left: solid .5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}
br.clear {
    clear: both;
}
*, ::before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
}
nav a {
    position: relative;
    display: inline-block;
    margin: 5px 5px 5px -10px;
    outline: 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    text-shadow: 0 0 1px rgba(255, 255, 255, .3);
    font-size: 1em;
}
nav a:focus, nav a:hover {
    outline: 0;
}
.currentPage a {
    margin-right: 10px;
    content: '-';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}
.currentPage a {
    margin-left: 10px;
    content: '-';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}
.hover-effect a::after, .hover-effect a::before {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform .3s, opacity .2s;
    -moz-transition: -moz-transform .3s, opacity .2s;
    transition: transform .3s, opacity .2s;
}
.hover-effect a::before {
    margin-right: 10px;
    content: '-';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}
.hover-effect a::after {
    margin-left: 10px;
    content: '-';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}
.hover-effect a:focus::after, .hover-effect a:focus::before, .hover-effect a:hover::after, .hover-effect a:hover::before {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
::-moz-selection {
    background-color: #091D42;
    color: #fff;
}
::selection {
    background-color: #091D42;
    color: #fff;
}
article, section {
    margin-bottom: 3em;
}
.row>article, .row>section, article:last-child, article>.container>:last-child, article>:last-child, section:last-child, section>.container>:last-child, section>:last-child {
    margin-bottom: 0;
}
.image-link {
    border: none;
    float: right;
    top: 0;
    text-decoration: none;
}
.image-link-left {
    border: none;
    float: left;
    top: 0;
    text-decoration: none;
}
.image {
    display: inline-block;
    border: 0;
}
.image img, .image.full {
    display: block;
    width: 100%}
.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em;
}
.image.left {
    float: left;
    margin: 0 2em 2em 0;
}
.box1 p {
    margin-top: 20px;
}
.box2 p {
    margin-top: 20px;
    
}
.box3 p {
    margin-top: 20px;
}
.box4 p {
    margin-top: 20px;
}
.box5 p {
    margin-top: 20px;
}
.box6 p {
    margin-top: 20px;
}
.box7 p {
    margin-top: 20px;
}
.box8 p {
    margin-top: 20px;
}
.box9 p {
    margin-top: 20px;
}
.image.centered {
    display: block;
    margin: 0 0 2em;
}
.image.centered img {
    margin: 0 auto;
    width: auto;
}
ul.default {
    list-style: disc;
    padding-left: 1em;
}
ul.default li {
    padding-left: .5em;
}
ul.icons {
    cursor: default;
}
ul.icons li {
    display: inline-block;
}
ul.icons a {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 0;
}
ul.menu {
    cursor: default;
}
ul.`menu` li {
    display: inline-block;
    line-height: 1em;
    border-left: solid 1px rgba(128, 128, 128, .35);
    padding: 0 0 0 .5em;
    margin: 0 0 0 .5em;
}
ul.menu li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}
ol.default {
    list-style: decimal;
    padding-left: 1.25em;
}
ol.default li {
    padding-left: .25em;
}
form label {
    display: block;
    text-align: left;
    margin-bottom: .5em;
}
form input.text, form select, form textarea {
    position: relative;
    -webkit-appearance: none;
    display: block;
    background: #fff;
    background: rgba(255, 255, 255, .75);
    width: 100%;
    border-radius: .35em;
    padding: .75em 1em;
    box-shadow: inset 0 .1em .1em 0 rgba(0, 0, 0, .05);
    border: solid 1px rgba(0, 0, 0, .15);
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
form input.text:focus, form select:focus, form textarea:focus {
    box-shadow: 0 0 2px 1px #8ededc;
    background: #fff;
}
form textarea {
    min-height: 14em;
}
form .formerize-placeholder {
    color: #555!important;
}
form ::-webkit-input-placeholder {
    color: #555!important;
}
form :-moz-placeholder {
    color: #555!important;
}
form ::-moz-placeholder {
    color: #555!important;
}
form :-ms-input-placeholder {
    color: #555!important;
}
form ::-moz-focus-inner {
    border: 0;
}
table {
    width: 100%}
table.default {
    width: 100%;
    text-align: left;
}
table.default tbody tr:nth-child(2n+2) {
    background: #f4f4f4;
}
table.default td {
    padding: .5em 1em;
}
table.examples-page td {
    width: 25%;
}
table.default th {
    text-align: left;
    padding: .5em 1em;
    color: #fff;
    background: #222729 url("../images/overlay.png");
}
table.default thead {
    background: #444;
    color: #fff;
}
table.default tfoot {
    background: #eee;
}
.item {
    box-shadow: 0 .05em .15em 0 rgba(0, 0, 0, .05);
    margin-bottom: 40px;
}
.item header {
    background: #fff;
    margin: 0;
    padding: 1em 0;
    font-size: .8em;
}
.item header h3 {
    font-size: 1em;
}
.page-header {
/*
	height:77px;
*/
    background-color: #091D42;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.bottom a:hover {
    opacity: .5;
}
#rapplablogo, #wellcometrustlogo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
}
.header-bg {
    position: relative;
    width: 300px;
    height: 100%;
    background: #091D42;
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2)0, rgba(9, 29, 66, 0)100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255, 255, 255, .2)), color-stop(100%, rgba(9, 29, 66, 0)));
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2)0, rgba(9, 29, 66, 0)100%);
    background: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2)0, rgba(9, 29, 66, 0)100%);
    background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2)0, rgba(9, 29, 66, 0)100%);
    background: linear-gradient(135deg, rgba(255, 255, 255, .2)0, rgba(9, 29, 66, 0)100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33ffffff',  endColorstr='#00091d42',  GradientType=1);
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    color: #fff;
    background-color: #091D42;
    box-shadow: inset -.25em 0 .25em 0 rgba(0, 0, 0, .125);
    text-align: left;
}
#header .top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%}
#header .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%}
#header .icons {
    font-size: .8em;
    margin: 0 0 1em;
    text-align: center;
}
#header .icons a {
    color: #41484c;
    -moz-transition: color .35s ease-in-out;
    -webkit-transition: color .35s ease-in-out;
    -o-transition: color .35s ease-in-out;
    -ms-transition: color .35s ease-in-out;
    transition: color .35s ease-in-out;
}
#header .icons a:hover {
    color: #fff;
}
#logo {
    position: relative;
    margin: 1.75em 1.5em 1.5em;
    min-height: 48px;
    cursor: default;
}
#logo h1 {
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
}
#logo .byline {
    position: relative;
    display: block;
    font-size: .6em;
    color: rgba(255, 255, 255, .5);
    line-height: 1.25em;
    margin: .5em 0 0;
}
#logo .image {
    position: absolute;
    left: 0;
    top: 0;
}
#nav ul li a {
    display: block;
    padding: .5em 1.5em;
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    outline: 0;
    border: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
#nav ul li a span {
    position: relative;
    display: block;
    font-size: .8em;
    width: 100%}
#nav ul li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    line-height: 1.75em;
}
#nav ul li a.active {
    background: rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 .25em 0 rgba(0, 0, 0, .125);
    color: #fff;
}
#nav ul li a.active span:before {
    color: #E27689;
}
nav {
    position: relative;
    top: 100px;
    margin: 0 auto;
    padding-left: 25%
}
.logo {
	height: 77px; 
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 2em;
    color: #fff;
    font-family: "Lato-Bold", Helvetica, serif;
    font-weight: 700;
}
.top a h1 span:hover, .top a h1:hover {
    background: #fff;
    color: #091D42;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
#logolinka {
    text-decoration: none;
}
.logo-subtitle {
    position:relative;
    top:20px;
    text-align:center;
    text-transform:uppercase;
    font-size:0.6em;
    color:#fff;
}
.smallxi {
    font-size: .9em;
    color: #fff;
}
#main {
    margin-left: 300px;
}
#main>section {
    margin: 0;
    overflow: hidden;
    padding: 3em 0 4em;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .05), inset 0 .1em .1em 0 rgba(0, 0, 0, .025);
    background-image: url("../images/overlay.png");
    height: 100%}
#main>section.one {
    background: #fff;
}
#main>section#top {
     padding-top: 0;
}
#main>section.one .image.featured {
    margin-bottom: 3em;
}
#main>section.two {
    background-color: #f5fafa;
}
#main>section.three {
    background-color: #ecf1f1;
}
#main>section.four {
    background-color: #e8edec;
}
.controlling-features-box {
    position: relative;
    margin-top: 30px;
    background-color: #ECEDF2;
    width: 100%;
    border: 1px solid #000;
}
.controlling-features-box h4 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: auto;
    right: auto;
    top: 5px;
    text-align: center;
}
#help:active, #help:hover {
    color: #091D42;
    background: #fff;
}
.controlling-features-box p {
    margin-left: 10px;
    margin-top: 10px;
    line-height: 2;
}
.hor-minimalist-a {
    left: auto;
    right: auto;
    font-size: .9em;
    cursor: default;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.hor-minimalist-a th {
    color: #039;
    padding: 10px 8px;
}
.hor-minimalist-a thead td {
    color: #091D42;
}
.hor-minimalist-a td {
    color: #777;
    padding: 9px 8px 0;
    border: 0 solid #eee;
}
.hor-minimalist-a tbody tr:hover td {
    color: #fff;
    background-color: #091D42;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
#movie {
    position: fixed;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
}
code {
    font-family: Menlo, monospace;
    background-color: #eee;
}
.productTypeFigs {
    text-align: center;
}
.productTypeFigs td {
    width: 20%}
.fileupload {
    background: #ecedf2;
    border: 5px solid #091D42;
    margin-bottom: 30px;
    padding: 0 10px;
    width: 100%;
    display: inline-block;
    position: relative;
}
.annotation-csv-file, .cross-link-csv, .fasta-file {
    position: relative;
    width: 250px;
}
.upload {
    position: relative;
    margin: 0 auto;
    display: block;
}
.contactGroup {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

/* team photos - TODO: tidy*/
.matttext {
    text-align: center;
}
.juritext {
    text-align: right;
    right: 0!important;
    margin: 0;
    position: relative;
}
.colin {
	width:200px;
	height:200px;
    background: url("../images/team/sprite/master.png") 0 0;
}
.colin:hover {
    background: url("../images/team/sprite/master.png") 0 -200px;
}
.matt {
	width:200px;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/team/sprite/master.png") 0 -400px;
}
.matt:hover {
    background: url("../images/team/sprite/master.png") 0 -600px;
}
.juri {
	width:200px;
	float: right;
    background: url("../images/team/sprite/master.png") 0 -800px;
}
.juri:hover {
    background: url("../images/team/sprite/master.png") 0 -1000px;
}
#navlist {
    position: relative;
}
#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navlist a, #navlist li {
    height: 200px;
    display: block;
}
/*end team photos */

.controlsFrontPage {
    clear: both;
    overflow: hidden;
    display: block;
    left: 300px;
    position: fixed;
    bottom: 0px;
    z-index: 11;
    right: 0px;
    background:#fff;
    color:#091D42;
    height:75px;
    overflow: hidden;
}
.controlsexamplespage {
    clear: both;
    overflow: hidden;
    display: block;
    left: 300px;
    position: fixed;
	bottom: 0px;
    z-index: 11;
    right: 0px;
    background:#ecedf2;
    color:#091D42;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
	padding-left: 100px;
	padding-right: 100px;
}
section#top.one .fp-home {
    margin-bottom: 0px;
}
#networkFrontPage {
    position: fixed;
    z-index: -10;
    bottom: 0px;
    right: 0px;
    top: 200px;
    left: 300px;
    margin-bottom: 0;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
.footernamefp {
    position: relative;
    display: inline;
}
#networkContainer {
    position: fixed;
    z-index: -10;
    margin-bottom: 0;
    overflow: hidden;
    bottom: 100px!important;
    right: 0px;
    top: 180px;
    left: 300px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
#networkCaption {
    color: #fff;
    font-size: 16px;
}
#track1 {
    position:relative;
    margin-left: 0px;
}
#scoreSlider {
    vertical-align: top;
    position: relative;
    display: inline-block;
}
#cutoffLabel {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
#scoreLabel1 {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
#scoreLabel2 {
    position: relative;
    display: inline-block;
    left: 20px;
    top: 0px;
    vertical-align: top;
}
.custom_file_upload {
    width: 150px;
    height: 50px;
    top: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
input.file {
 	overflow: hidden;
    height: 50px;
    color: #888;
    outline: 0;
    position: relative;
    top: 0;
}
div.file_upload {
    width: 180px;
    height: 50px;
    background: #091D42;
    display: inline;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    font-size: .7em;
    color: #FFF;
    text-align: center;
    padding: 5px;
}
div.file_upload:before {
    content: 'UPLOAD';
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
}
div.file_upload input {
    position: relative;
    height: 30px;
    width: 150px;
    display: inline;
    cursor: pointer;
    opacity: 0;
}
.btn {
	height: 32px;
    border: none;
    font-family: inherit;
    font-size: .7em;
    color: inherit;
    background: 0 0;
    cursor: pointer;
    padding: 5px 25px;
    margin: 0 5px 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
form table td {
    margin: 0;
    padding: 0;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn-1 {
    border: 1px solid #fff;
    color: #fff;
}
.btn-1a:active, .btn-1a:hover {
    color: #091D42;
    background: #fff;
}
.btn-1a-inverse:active, .btn-1a-inverse:hover {
    color: #091D42;
    background: #fff;
    border: 1px solid #091D42;
}
.btn-1a-inputbtn {
    border: none;
}
.btn-1a-inputbtn:active, .btn-1a-inputbtn:hover {
    color: #fff;
    background: #091D42;
    margin: 0;
    padding: 0;
}
.overlay-box {
    background: rgba(9, 29, 66, 0.9);
    border-top: 20px solid rgba(9, 29, 66, 0.9);
	overflow: scroll;   
    color: #fff;
    padding: 20px;
    line-height: 1.5;
    z-index: -1;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
}
.overlay-box img{
    background: white;
}
.long-citation {
    background-color: #ecedf2;
	z-index: -99;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
	padding-right: 100px;
}
.long-citation p {
    color: #091D42;
    font-size: 16px;
    line-height: 1.3em;
}
.long-citation p a {
    color: #091D42;
    text-decoration: underline;
}
.long-citation p a:hover {
    color: #fff;
    background-color: #091D42;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.overlay-box ul {
    position: relative;
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.overlay-box ul li {
    position: relative;
    margin-bottom: 10px;
}
.overlay-box-bg {
    position: fixed;
    height: 100%;
    width: 500px;
    z-index: 998;
    margin-top: 60px;
    top: 50%;
    left: 229px;
    color: #fff;
}
.examples-box {
    background: rgba(9, 29, 66, 1);
    border-top: 20px solid rgba(9, 29, 66, 1);
    position: fixed;
    width: 300px;
    z-index: 999;
    height: 100%;
    top: 0%!important;
    overflow: scroll;
    left: 0px;
    color: #fff;
    padding: 20px;
    line-height: 1.5;
    z-index: 9999;
    text-align: left;
    line-height: 2em;
    display: none;
}
.examples-box ul {
    position: relative;
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.examples-box ul li {
    position: relative;
    margin-bottom: 10px;
}
.examples-box-bg {
    position: fixed;
    height: 100%;
    width: 500px;
    z-index: 998;
    margin-top: 60px;
    top: 50%;
    left: 229px;
    color: #fff;
}
p.citation {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: -40px;
}
.citation a {
    color: #091D42;
    text-decoration: none;
       -webkit-transition: all 200ms ease-in-out;
       -moz-transition: all 200ms ease-in-out;
       -ms-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
       transition: all 200ms ease-in-out;
}
.citation a:hover {
    color: white!important;
    background-color: #091D42;
}
.overlay-box a {
    color: #fff;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.overlay-box a:hover {
    color: #091D42;
    background-color: #fff;
    text-decoration: none;
    padding: 2px 0;
}
.overlay-box h5,
.overlay-box h6 {
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
}
.overlay-box h4 {
    color: #fff;
}
.overlay-box table {
    font-size: 14px;
    left: auto;
    right: auto;
/*
    top: 10px;
*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    text-align: left;
}
.overlay-box th {
    font-size: 14px;
    font-weight: 400;
    color: #039;
    padding: 10px 8px;
    border: 0;
}
.overlay-box thead td {
    color: #091D42;
}
.overlay-box td {
    color: #777;
    padding: 9px 8px 0;
    border: 0 solid #eee;
}
.controls-box-one {
    position: relative;
    width: 375px;
    display: inline-block;
}
p#scoreLabel1.scoreLabel {
   position: relative;
   display: inline-block;
}
#slide {
    background: none;
    position: relative;
    border: none;
/*
    width: 50%;
*/
    margin-top:5px;
    display: inline-block;
}
p#scoreLabel2.scoreLabel {
    position: relative;
    left:-10px;
    display: inline-block;
}
.controls-box-two {
    width: 300px;
    position: relative;
    display: inline-block;
}
.controls-box-three {
    width: 200px;
    position: relative;
    display: inline-block;
}
.overlay-box tbody tr:hover td {
    color: #fff;
    background-color: #091D42;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.overlay-table {
    left: auto;
    right: auto;
    font-size: 1em;
    cursor: default;
    color: #fff;
    position: relative;
    margin-left: auto;
    background-color: #091D42;
    margin-right: auto;
    border-collapse: collapse;
}
.overlay-table th {
    color: #039;
    padding: 10px 8px;
}
.overlay-table thead td {
    color: #091D42;
}
.overlay-table td {
    color: #777;
    padding: 9px 8px 0;
    border: 0 solid #eee;
}
.overlay-table tbody tr:hover td {
    color: #fff;
    background-color: #091D42;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.examples-box a {
    color: #fff;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.examples-box a:hover {
    color: #091D42;
    background-color: #fff;
    text-decoration: none;
    padding: 2px 0;
}
.examples-box h5,
.examples-box h6 {
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
}
.examples-box h4 {
    color: #fff;
}
.examples-box table {
    font-size: 14px;
    left: auto;
    right: auto;
    top: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    text-align: left;
}
.examples-box th {
    font-size: 14px;
    font-weight: 400;
    color: #039;
    padding: 10px 8px;
    border: 0;
}
.examples-box thead td {
    color: #091D42;
}
.examples-box td {
    color: #777;
    padding: 9px 8px 0;
    border: 0 solid #eee;
}
.examples-box tbody tr:hover td {
    color: #fff;
    background-color: #091D42;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.examples-table {
    left: auto;
    right: auto;
    font-size: 1em;
    cursor: default;
    color: #fff;
    position: relative;
    margin-left: auto;
    background-color: #091D42;
    margin-right: auto;
    border-collapse: collapse;
}
.examples-table th {
    color: #039;
    padding: 10px 8px;
}
.examples-table thead td {
    color: #091D42;
}
.examples-table td {
    color: #777;
    padding: 9px 8px 0;
    border: 0 solid #eee;
}
.examples-table tbody tr:hover td {
    color: #091D42;
    background-color: #fff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.link-arrow {
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    :c;
}
.link-arrow a {
    position: relative;
    display: inline-block;
    outline: 0;
    color: #091D42;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
}
.link-arrow a::after, .link-arrow a::before {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.link-arrow a {
    padding: 0 .25em;
    font-weight: 500;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.link-arrow a::after, .link-arrow a:hover {
    -webkit-transform: translateX(-1em);
    transform: translateX(-1em);
}
.link-arrow a::after, .link-arrow a::before {
    position: absolute;
    height: 100%;
    content: ''}
.link-arrow a::before {
    left: 0;
    z-index: -1;
    width: 100%;
    background: #fff;
}
.link-arrow a::after {
    left: 100%;
    z-index: -2;
    width: 1em;
    background: #091D42 url("../images/icons/download-white.png") no-repeat 50% 50%;
    background-size: 60% auto;
    text-align: center;
    font-family: Arial, sans-serif;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    pointer-events: auto;
}
.link-arrow a:focus::after, .link-arrow a:hover::after {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.external-link a {
    color:#091D42;
    text-decoration: underline;
     -webkit-transition: all 200ms ease-in-out;
       -moz-transition: all 200ms ease-in-out;
       -ms-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
       transition: all 200ms ease-in-out;
}
.external-link a:hover {
    color: #ffffff!important;
    background-color: #091D42;
    text-decoration: none;
}
.residue-level {
    
}
.simplify-networks {
    
}
.ambiguous-linkage {
     width: 400px;
}
.download-annotations {
     width: 500px;
}
img.image.show-sequence {
    width: 400px;
}
.interactive-filtering {
    width: 500px;
}
section#top.one.contact-section{
    padding: 0px;
}

section.two.contact-section2 {
    padding: 0px!important;
}
.contactGroup table,
.contactGroup p,
.contactGroup ul {
    margin-bottom: 0em;
}
.contact-section2 .external-link {
    margin-top: 20px;
}
