.protein{
    cursor: crosshair;
}

.link{
    cursor: crosshair;
}

.marquee {
    fill-opacity:0.2;
    stroke:#000;
    stroke-dasharray:2,4;
    vector-effect:non-scaling-stroke; /* not for FF */
}

.highlight {
    background-color: yellow;
}
.NOT {
    background-color: red;
}

/*you need this to stop horrible looking flickering of text as you drag*/
svg {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.xlv_text
{
    /*font-weight: bold;*/
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    /*   -2px -1px 0 white,
        2px -1px 0 white,
        -2px 1px 0 white,
        2px 1px 0 white;*/
}

/*.proteinScaleLabelText { font-size: 8pt; }*/
