.protein{
    cursor: crosshair;
}

.link{
/*
   cursor: crosshair;
*/
}

/*you need this to stop horrible looking flickering of text as you drag*/
svg {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.xlv_text
{
    /*font-weight: bold;*/
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    /*   -2px -1px 0 white,
        2px -1px 0 white,
        -2px 1px 0 white,
        2px 1px 0 white;*/
}
